<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="title">
              <h1> You created </h1>
            </div>
            <div class="force">
              <h3> <span class="force-p"> {{force}} W </span> of Energy</h3>
            </div>
            <div class="bg-takeimage">
              <img class="screen-img" src="{{image}}">
            </div>
            <div class="city">
              <h3> {{city}} </h3>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
