/* @keyframes slideUpAnimation
{
  0%
  {
     transform: translateY(100%);
  }
  100%
  {
     transform: translateY(0);
  }
}

.title, .city-name, .force-num
{
  animation: 2s ease-out 0s 1 slideUpAnimation;
} */


h3
{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

h1
{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

p
{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.screen-img
{
  max-width: 100%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 50px;
  box-shadow: 5px 10px 20px black;
}

.title
{
  margin: 0 auto;
}

.col-xs-12
{
  max-width: 100%;
  margin-top: 15%;
}
