<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="panel panel-default">
        <div class="panel-heading">Statistiche</div>

        <table class="table">
          <tr *ngFor="let statistic of statistics">
            <td>{{statistic.userId}}</td>
            <td>{{statistic.id}}</td>
            <td>{{statistic.title}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
